:root {
  --color-black: #000000;
  --color-green: #00FF00;
  --color-dark-gray: #1A1A1A;
  --color-dark-green: #008000;
  --color-light-green: #66FF66;
  --color-light-gray: #CCCCCC;
  --color-white: #FFFFFF;
  --color-red: #FF3333;
  --color-yellow: #FFFF66;
}